main {
    background-image: url(https://img.freepik.com/free-photo/cruel-war-scenes-digital-painting_456031-162.jpg?w=1380&t=st=1667428082~exp=1667428682~hmac=8abe3bc6d065ebfa3684aca7977e63871a756f862ffe4dce459caabdb9de5119);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

p {
    font-size: large;
    color: #16161a;
    background: rgb(0, 0, 0, 0);
    border-bottom: 2px solid #7f5af0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #16161a;
    
}
form {
    display: flex;
    padding: 15px 6px 10px 6px;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    border: 4px #7f5af0 solid !important;
    border-radius: 10px;
    border-width: 2px 2px;
    background: rgb(148, 161, 178, 0.5);
    height: 250px;
}

input {
    background: #16161a;
    color: #2cb67d;
    border-radius: 10px;
}

label {
    font-size: 20px;
    background: none;
    color: #7f5af0;
    background-color: rgb(22, 22, 26, 0.8);
    border-bottom: 3px solid #2cb67d;
    border-top: 3px solid #2cb67d;
    border-radius: 8px;

}

data-form-message {
    background: white;
}

#message {
    background-color: #94a1b2;
}

.err-message {
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(22, 22, 26, 0.9) !important;
    color: #2cb67d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2cb67d;

}

.success-message {
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(44, 182, 125, 0.9) !important;
    color: #16161a;
    -webkit-text-stroke-width: 1px;
}

.links {
    display: flex;
    gap: 5px;
}
